<div class="container">
  <div class="form-group">
    <%= form_for(@genre) do |f| %>
      <%= f.label :"ジャンル" %>
      <%= f.text_field :genre, class: "form-control" %>
      <%= f.submit '追加' %>
    <% end %>
  </div>
</div>

