<div class="container">
  <div class="row">
      <h2>商品詳細</h2>
  </div>
  <div class="row">
    <div class="col">
      <img src="" alt="">
      <p>ジャンル</p>
    </div>
    <div class="col">
      <p>シングル・アルバム名</p>
      <p>アーティスト名</p>
      <p>レーベル名</p>
      <div class="">
        <span>在庫数</span>
        <span>価格</span>
      </div>
      <div class="">
        <a href="#">編集</a>
        <a href="#">削除</a>
      </div>
    </div>
  </div>
  <div class="row">
    <ul>
      <li>曲名</li>
      <li>曲名</li>
      <li>曲名</li>
      <li>曲名</li>
      <li>曲名</li>
    </ul>
  </div>
</div>
