　　　　<table>
           <thead>
               <tr>
        <th> 注文ID</th><th> 受注日</th><th>名前</th> <th> 合計金額　</th><th> 発送状況　</th><th> 詳細　</th>
               </tr>
           </thead>
           <tbody>
            <tr>
         <td>1</td>
         <td>7/14</td>
         <td>阿部寛</td>
         <td>3000円</td>
         <td>発送済</td>
         <td>詳細</td>
            </tr>
            <tr>
         <td>2</td>
         <td>7/14</td>
         <td>山田太郎</td>
         <td>10000円</td>
         <td>発送準備中</td>
         <td>詳細</td>
             <tr>
           </tbody>
　　　　　</table>