<h1>ABOUT NAGARECO<br>

<h3>
あなたはどんな風に、音楽と出会い、音楽を聴いていますか？<br>

ナガノレコードは今年４０周年。<br>

変わらないもの、変わってきたもの。<br>

音楽を作る、音楽を届ける、音楽を聴く、<br>

時代とともに、人の数だけ音楽との出会いがあります。<br>

ナガノレコードは、「LIFE MUSIC COMPANY」として、<br>

これからも様々な人生のシーンで、あなたと音楽が出会う最良の場であり続けたい。<br>

常にリアルな音楽のユースシーンを通して、新しい視点や興奮を届け続ける企業でありたい。<br>

音は世につれ、世は音につれ。<br>

そのことを強く思う４０周年。<br>

NO MUSIC, NO LIFE. 今日もようこそ、タワーレコードへ。
</h3>

