<div class="container">
        <div class="row">
          <div class="col-lg-3" style="background-color: lightblue;">
            <%= link_to new_admin_product_path do%> 商品の新規登録<%end%>
          </div>

          <div class="col-lg-3" style="background-color: yellowgreen;">
            <%= link_to orders_path do%> 注文管理一覧<%end%>
          </div>

          <div class="col-lg-3" style="background-color: orange;">
            <%= link_to products_path  do%> 商品一覧<%end%>
          </div>

          <div class="col-lg-3" style="background-color: pink;">
            <%= link_to admin_users_path  do%> ユーザー一覧<%end%>
         </div>

    </div>
</div>