

<div class="container">
      <div class="row">
            <div class="col-lg-3" ></div>

            <div class="col-lg-6" >
　　　　　　　<div class="menu" style="padding: 50px;">

            <div class="mx-auto" style="width: 300px;"><h1>管理者メニュー</h1></div>

            <%= link_to new_admin_product_path,class: " btn btn-danger btn-block " do%> 商品の新規登録<%end%><br>

            <%= link_to admin_orders_path,class: " btn btn-warning btn-block" do%> 注文管理一覧<%end%><br>

            <%= link_to admin_products_path ,class: " btn btn-success btn-block " do%> 商品一覧<%end%><br>

            <%= link_to admin_users_path ,class: " btn btn-primary btn-block " do%> ユーザー一覧<%end%>

            </div>

          </div>
        </div>
</div>