<div class="container">
    <div class="row">
     <div class="col-lg-8">
　　　　　<table>
           <thead>
               <tr>
        <th> ジャケット画像</th><th> シングル/アルバム名</th><th>アーティスト名</th> <th> 価格　</th>
               </tr>
           </thead>
           <tbody>
            <tr>
         <td>noimage</td>
         <td>世界に１つだけの花</td>
         <td>smap</td>
         <td>1000円</td>
            </tr>
            <tr>
         <td>noimage</td>
         <td>ボヘミアン・ラプソディ</td>
         <td>queen</td>
         <td>1000円</td>
             <tr>
           </tbody>
　　　　　</table>
     </div>
     <div class="col-lg-4">
　　　　　<table>
           <thead>
               <tr>
        <th> 合計金額</th></tr>
           </thead>
           <tbody>
            <tr>
         <td>2000円</td>
            </tr>
           </tbody>
　　　　　</table>
<div>管理人のおすすめ</div>
<tr>
         <td>noimage</td><br>
         <td>Lemon</td><br>
         <td>米津玄師</td><br>
         <td>1000円</td><br>
             <tr>
     </div>

    </div>
</div>