<table class="table table-striped">
  <thead>
    <tr>
      <th> name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
  </div>
      <td><%= user.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>