<div class="nested-fields">
  <div class="form-group">
    <%= f.label :'トラックNo.、曲名' %>
    <%= f .text_field :track_num, class: "form-control" %>
    <%= f.text_field :song, class: "form-control" %>
  </div>
</div>
