<div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ジャケット画像</th>
            <th scope="col">商品情報</th>
            <th scope="col">在庫情報</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <th> <img src="" alt=""> </th>
            <td>商品情報</td>
            <th>2</th>
            <th><a href="#">詳細</a></th>
          </tr>
          <tr scope="row">
            <th> <img src="" alt=""> </th>
            <td>商品情報</td>
            <th>2</th>
            <th><a href="#">詳細</a></th>
          </tr>
          <tr scope="row">
            <th> <img src="" alt=""> </th>
            <td>商品情報</td>
            <th>2</th>
            <th><a href="#">詳細</a></th>
          </tr>
          <tr scope="row">
            <th> <img src="" alt=""> </th>
            <td>商品情報</td>
            <th>2</th>
            <th><a href="#">詳細</a></th>
          </tr>
          <tr scope="row">
            <th> <img src="" alt=""> </th>
            <td>商品情報</td>
            <th>2</th>
            <th><a href="#">詳細</a></th>
          </tr>
        </tbody>
      </table>
    </div>
</div>