/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

header {
	margin-bottom: 50px;
	background-color: #de9610;
	color: #444;
}

footer {
	height: 45px;
	margin-top: 50px;
	background-color: #de9610;
	color: #444;
}

a {
	color: #444;
	text-decoration: none;
}
a:visited {
	color: #444;
}

.nav-content {
	font-size: 20px;
}

.nav-list {
	padding-bottom: 15px;
}

.search {
	text-align: right;
}

.image1{
	background-image: url(image1.jpg);
}

.image2{
	background-image: url(image2.jpg);
}

.image3{
	background-image: url(image3.jpg);
}

.image4{
	background-image: url(image4.jpg);
}

.image5{
	background-image: url(image5.jpg);
}

.slide{
	height:250px;
}

.edit-pass{
	font-size:8px;
    color:gray;
}

.log{
	margin: 0 auto;
}

.order{
	border: 1px solid black;
	margin: 15px;
	padding: 10px;
	border-radius: 1em
}

.index{
	margin: 20px 20px;
	min-width:1200px;
}

.index_products{
	border: 1px solid #F2F2F2;
	margin: 10px;
	padding: 5px;
	border-radius: 1em
}

.product_box{
	min-width:760px;

}

.product_bar{
	min-width:340px;

}

.img-fluid{
	border: 1px solid #F2F2F2;
	padding:3px;
}

