<div class="container">
  <div class="row card card-body bg-light p-4">
    <div class="headline">
      <h2>注文一覧</h2>
    </div>
    <table class="table table-bordered text-center" style="height: 100px;">
      <thead class="thead thead-dark">
        <tr>
          <th class="align-middle">注文ID</th>
          <th class="align-middle">受注日</th>
          <th class="align-middle">名前</th>
          <th class="align-middle">合計金額</th>
          <th class="align-middle">発送状況</th>
          <th class="align-middle"></th>
        </tr>
      </thead>
      <tbody>
        <%= @sells.each do |s| %>
          <tr>
            <td class="align-middle"><%=  %></td>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
