<div class="container"><!-- スライドショー -->
	<div class="slide">
		<div class="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
		<div class="image4"></div>
		<div class="image5"></div>
	 </div>
	</div>
	<div class="row">
</div>
</div>

		<div class="container col-8"><!-- 商品一覧 -->
			<% @products.each do |products| %>
			<div class="row col-8">
			<% attachment_image_tag @product, :image_id, :fill, 200, 200, size: '50x50' %>
			<table>
				<tr>
					<th>アルバム名：</th><th rowspan="2"><%= products.cd_title %></th>
				</tr>
				<tr>
					<td>アーティスト：</td><td rowspan="2"><%= artist(artist_id) %></td><!-- アーティスト -->
				</tr>
				<tr>
				<td>税込価格：</td><td><%=notax_price %></td><td><%=link_to "詳細", product_path(product)%></td>
				</tr>
			<% end %>
			</div>


		<div class="container"><!-- サイドバー -->
    		<div class="row">

      <table class="table"></table></div></div></table></div></div>
