<div class="container">
	<div class="card text-center">
	  <div class="card-header">
	    注文が確定されました
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">ご注文ありがとうございます</h5>
	    <p class="card-text">引き続きお買い物をお楽しみください</p>
	  </div>
	  <div class="card-footer text-muted">
	    <%= link_to "トップページへ戻る", products_path, class: "btn btn-success btn-block" %>
	  </div>
	</div>
</div>
