<h1>注文一覧</h1>

<div class="container">
  <% @sells.each do |s| %>
    <% s.sell_details.each do |sd| %>
    <% product = Product.find(sd.product_id) %>
    <div class="row order">
      <div class="col-3">
        <%= attachment_image_tag product, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "img-fluid"  %>
      </div>
      <div class="col-9 row">
        <div class="col-10">
          <%= product.cd_title %><br/>
          <%= product.artist.artist %>
        </div>
        <div class="2">
          <%= link_to "詳細", sell_path(sd.id) %>
        </div>
      </div>
    </div>
    <% end %>
<% end %>
</div>
