<div class="container">
    <div class="row order">
      <div class="col-3">
        <%= attachment_image_tag @product, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "img-fluid"  %>
      </div>
      <div class="col-9 row">
      </div>
    </div>
</div>
